<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- HERE JavaScript Libs & Style Sheets-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- JS API -->
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>



    <!-- HERE JavaScript Libs & Style Sheets end-->
    <title>Hide & Read hallo</title>
</head>

<body>
<nav class="navbar">
    <div class="navbar__container">
        <a href="#home" id="navbar__logo">HIDE AND READ</a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item"><a href="{{ url_for('mainpage') }}" class="navbar__links" id="home-page">Home</a> </li>
            <li class="navbar__item"><a href="{{ url_for('map') }}" class="navbar__links" id="map-page">Map</a></li>
            <li class="navbar__item"><a href="{{ url_for('addBook') }}" class="navbar__links" id="add-page">Add a Book</a> </li>
            <li class="navbar__item"><a href="{{ url_for('profile') }}" class="navbar__links" id="profil-page">Profil</a> </li>
            <li class="navbar__btn"><a href="{{ url_for('login') }}"class="button" id="signup">Sign Up</a> </li>
        </ul>
    </div>
</nav>

{% block header %}{% endblock %}

{% block content %}{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='navigation.js') }}"></script>

</body>
</html>
