{% extends "base.html" %}

<!--this obviously needs some workover BUT at least it works-->

{% block header %}
<h1>Hide & Read</h1>
<p>Oh wow das ist ein Versuch!</p>
{% endblock %}

{% block content %}
<!-- see __init__.py for how the routes work and to add new ones this needs to disappear at some point, because the navigation in the base.html should do it's job but let's keep it until then so everyone working on it can see how it works -->
<ul>
    <li><a href="{{ url_for('mainpage') }}">Home</a></li>
    <li><a href="{{ url_for('auth.login') }}">Login</a> </li>
    <li><a href="{{ url_for('map') }}">Zur Karte</a></li>
</ul>
{% endblock %}
