{% extends "base.html" %}

{% block header %}
<h1>Hide & Read</h1>
<p>Finde versteckte Bücher in deiner Gegend! Diese Bücher sind Geschenke, du kannst sie einfach mitnehmen.</p>
<p>Du möchtest selbst ein Geschenkbuch verstecken? <a href="">Hier geht's lang!</a> </p>
{% endblock %}


{% block content %}
<!-- see __init__.py for how the routes work and to add new ones this needs to disappear at some point, because the navigation in the base.html should do it's job but let's keep it until then so everyone working on it can see how it works -->
<!--In the div HERE Map will be rendered-->
<div style="width: 100vw;height: 80vh;" id="mapContainer"></div>

<!-- JS SCRIPTS -->
<!-- have to be loaded AFTER html -->

<script type="text/javascript" src="{{ url_for('static', filename='config.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='marker.js') }}"></script>

<!--In the div HERE Map will be rendered-->
{% endblock %}