{% extends 'base.html' %}

{% block header %}
{% endblock %}

<div class="ownprofile-header">
    <span class="user-profile-badge"></span>
    <span class="user-profile-name">Peter Parker</span><br>
    <span class="user-profile-info-text">
        "Buecherwurm" <br>
        "Aktiv seit: 27.06.2021" <br>
        "Versteckte Buecher: 3"<br></span>
</div>
<div>
    <h2>Meine Bibliothek</h2>
    <ul>
    </ul>
</div>

{% block flash %}
    {% with messages = get_flashed_messages() %}
       {% if messages %}
          {% for message in messages %}
             {{ message }}
          {% endfor %}
       {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
{% if g.user %}
    {{ g.user['username'] }}
{% endif %}
{% endblock %}